body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  padding: 15px;
}

h2 {
  text-align: center;
}

.form {
  display: grid;
  gap: 10px;
  margin-bottom: 25px;
}

.form input, .form textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form button {
  padding: 12px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
}

.container {
  display: grid;
  gap: 15px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card p {
  margin: 4px 0;
  font-size: 14px;
}

.form button:hover{
  transform: scale(1.02);
  transition: transform 0.2s ease;
}

.link {
  display: block;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  color: blue;
}

/* .form input {
  width: 100%;
} */

.complete {
  margin-top: 8px;
  width: 100%;
  background: rgb(31, 230, 97);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.delete {
  margin-top: 8px;
  width: 100%;
  background: red;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.edit {
  margin-top: 8px;
  width: 100%;
  background: orange;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
/* ------------------- */

.card-buttons {
  display: flex;
  gap: 10px;          /* buttons ke beech space */
  margin-top: 10px;
}

.card-buttons button {
  flex: 1;             /* equal width */
  padding: 8px 0;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.card-buttons button:hover {
  transform: scale(1.05);
}

/* Individual colors */
.card-buttons .complete{
  background-color: #28a745; /* green */
  color: #fff;
}

.card-buttons .edit {
  background-color: #ffc107; /* orange */
  color: #000;
}

.card-buttons .delete {
  background-color: #dc3545; /* red */
  color: #fff;
}

/* Mobile responsive */
@media (max-width: 500px) {
  .card-buttons {
    flex-direction: column;
  }
}

/* .card button {
  margin-top: 10px;
  width: 100%;
  background: green;
  color: rgb(255, 255, 255);
  padding: 10px;
  border: none;
  border-radius: 5px;
} */

/* Task container: exactly 2 columns on desktop/tablet */
#taskContainer, #completedContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 2 columns fixed */
  gap: 15px; /* space between cards */
}

/* Card styling */
.card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
}

/* Mobile: 1 column */
@media (max-width: 600px) {
  #taskContainer, #completedContainer {
    grid-template-columns: 1fr;
  }
}

input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  min-height: 44px;
}
